@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-heebo);
  --color-background: #fafaf9;
  --color-foreground: #1c1917;
  --color-brand: #166534;
  --color-brand-light: #16653418;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans), system-ui, sans-serif;
  font-feature-settings: "kern";
}
